body{
    margin: 0;
    padding: 0;
}
.width {
    width: 80%;
    margin: auto;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    height: 540px;
  }
  .intro {
    width: 55%;
    padding-top: 4%;
  }
  .intro .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btnContainer {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
  }
  .LogInBtn {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    margin-right: 2%;
    font-weight: 600;
  }
  .LogInBtn:hover {
    color: #fc8019;
  }
  .SignUpBtn {
    padding: 15px 13px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-weight: 700;
  }
  .SignUpBtn:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  
  .contain {
    margin-top: 5%;
  }
  
  .contain p:nth-child(2) {
    font-size: 25px;
    color: #686b78;
  }
  #ankit {
    margin: 0;
  }
  .input-container {
    margin-top: 4%;
    position: relative;
  }
  .input-container input[type="text"] {
    width: 90%;
    height: 58px;
    padding: 0px 12px;
    border-radius: 0px;
    border: 1px solid #686b78;
    caret-color: #fc8019;
    font-size: 18px;
    font-weight: 600;
  }
  .input-container input[type="text"]::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: #686b78;
  }
  .input-container input[type="text"]:focus {
    outline-color: #fc8019;
  }
  .input-container .locateBtn {
    position: absolute;
    top: 12px;
    right: 20%;
    padding: 10px 8px;
    font-weight: 600;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .input-container .locateBtn:hover {
    background-color: #e5e5e5;
  }
  .input-container .locateBtn .fa {
    font-size: 15px;
    margin-right: 5px;
  }
  .input-container .foodBtn {
    position: absolute;
    top: 0px;
    right: 0%;
    padding: 0 15px;
    height: 100%;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    background-color: #fc8019;
    border: none;
    cursor: pointer;
  }
  .cities {
    margin-top: 5%;
  }
  .cities p:first-child {
    color: #686b78;
    font-size: 15px;
    font-weight: 700;
  }
  .cities .city-names {
    padding: 10px 0px;
    color: #686b78;
    font-weight: 600;
  }
  .alternate {
    color: #93959f;
  }
  .cities .city-names li {
    display: inline-block;
    margin-right: 2%;
    cursor: pointer;
  }
  .img {
    width: 45%;
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* #container {
    color: black;
    font-size: 36px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    display: block;
  } */
  
  #flip {
    font-size: 36px;
    height: 50px;
    overflow: hidden;
  }
  
  #flip > div > div {
    color: black;
    font-weight: bold;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @media (max-width: 700px) {
    .img {
      display: none;
    }
    .intro {
      width: 100%;
    }
  }
  @media (max-width: 1280px) {
    .locateBtn {
      display: none;
    }
  }